<h1>Contact Details of {{contactDetails.Name}}</h1>
<table>
    <tr>
        <td>Name</td>
        <td>{{contactDetails.Name}}</td>
    </tr>
    
    <tr>
        <td>Email</td>
        <td>{{contactDetails.Email}}</td>
    </tr>
    
    <tr>
        <td>Phone</td>
        <td>{{contactDetails.Phone}}</td>
    </tr>
    
    <tr>
        <td>Address</td>
        <td>{{contactDetails.Address}}</td>
    </tr>
</table>

<div>
    <input type='button' (click)='onBackButtonClick()'value='Back to List'/>
</div>